In [1]:
import sqlite3
con=sqlite3.connect("new db")
cur=con.cursor()
cur.execute("DROP TABLE IF EXISTS Movies")
cur.execute("CREATE TABLE Movies (name TEXT,release_date TEXT)")

In [2]:
cur.execute("INSERT INTO Movies VALUES ('Sholay','24-2-2000')")

In [3]:
cur.execute("SELECT*FROM Movies")
j=cur.fetchall()
for i in j:
    print(i)

('Sholay', '24-2-2000')